<% provide(:title, @section.content) %>
 <div id="picture_show"> 
<ul class="pager">
   <li><%= link_to "Back", {:action => 'show', :id => @section.page.permalink}, class: "previous" %></li>
   </ul>
 <% img_name = @img_name  %>
   <% next_img = @next_img  %>
   <% prev_img = @prev_img  %>
     

  
 
   <ul class="pager">
   <li><%= link_to('Previous', { :action => 'picture', :image_name => prev_img, :id => @section.id, :page_id => @section.page_id }, class: "previous pull-left") %></li>
  <li><%= link_to('Next', { :action => 'picture', :image_name => next_img, :id => @section.id, :page_id => @section.page_id }, class: "next pull-right") %></li>
</ul>

<%= link_to(image_tag(@img_name, :alt => "", class: "shadow img-responsive"), { :action => 'picture', :image_name => next_img, :id => @section.id, :page_id => @section.page_id }, class: "next pull-right") %>


    <p class='center'><%=@section.content %></p>
<ul class="pager">
   <li><%= link_to "Back", {:action => 'show', :id => @section.page.permalink}, class: "previous" %></li>
   </ul>
   
 </div>
  

        
