<% provide(:title, @page.name) %>
<div class="mode">
<%= image_tag(@image, :alt => "", class: "shadow img-responsive")%>

<div id='head'><h1>Galina Ridna</h1>
<p class="small">electronic collection of paintings</p></div>

</div>



<div class="show">
<h5 class='center'><%= @page.name %></h5>

<% @page.sections.order(position: :asc).each do |section| %>
 
    <% case section.content_type
       when 'HTML' %>
       <div class="description">
          <%= simple_format(section.content) %>
          </div>
    <% when 'text' %>
   
    
   <% if section.name != 'info'
   a = []
   a[0]= section.name
   a[1] = '.png'
   img_name = a.join('') %>
<div class="box">

    <li>  
    <%= link_to( image_tag(img_name, :alt => section.content, class: "shadow"), :action => 'picture', :id => section.id, :page_id => section.page_id, :image_name => img_name ) %></li>
    <% end %>
     
  </div><!-- box --> 
    <% end %>
  
    
<% end %>
 

<div class="line clear"><%= image_tag("pict1.png", alt: "Imaginasion") %></div>
 </div>
